<form class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <legend>User Registration</legend>
<table border="1" style="width: 100px; font-family:Arial, Helvetica, sans-serif;border:none">
  <tr>
  <td><div class="form-group">
      <label class="col-md-6 control-label" for="textinput">Employee ID</label>  
      <div class="col-md-6">
      <input id="empid" name="empid" type="text" placeholder="Employee ID" class="form-group input-md">
     </div>
    </div>
  
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-6 control-label" for="textinput">Last Name</label>  
      <div class="col-md-6">
      <input id="lname" name="lname" type="text" placeholder="Last Name" class="form-group input-md">
    </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-6 control-label" for="textinput">First Name</label>  
      <div class="col-md-6">
      <input id="textinput" name="textinput" type="text" placeholder="First Name" class="form-group input-md">
     </div>
    </div>
    <div class="form-group">
        <label class="col-md-6 control-label" for="textinput">First Name</label>  
        <div class="col-md-6">
        <input id="textinput" name="textinput" type="text" placeholder="First Name" class="form-group input-md">
       </div>
      </div>
      <div class="form-group">
          <label class="col-md-6 control-label" for="textinput">First Name</label>  
          <div class="col-md-6">
          <input id="textinput" name="textinput" type="text" placeholder="First Name" class="form-group input-md">
         </div>
        </div>
  </td>
    <td>   <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-6 control-label" for="selectbasic">Access Type</label>
        <div class="col-md-6">
          <select id="accesstype" name="selectbasic" class="form-group input-md">
            <option value="1">Administrator</option>
            <option value="2">Super User</option>
            <option value="2">Standard User</option>
          </select>
        </div>
      </div>
         
         <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-6 control-label" for="selectbasic">Department</label>
        <div class="col-md-6">
          <select id="selectbasic" name="selectbasic" class="form-group input-md">
            <option value="1">Billing</option>
            <option value="2">Workshop</option>
            <option value="3">Technician</option>
            <option value="4">Inspector</option>
            <option value="5">Sales Rep</option>
          </select>
        </div>
      </div>
        
        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-6 control-label" for="textarea">Notes</label>
          <div class="col-md-6">                    
             <textarea class="form-group input-md" id="textarea" name="textarea"></textarea>
          </div>
        </div>
        
        <!-- Select Multiple -->
        <div class="form-group">
          <label class="col-md-6 control-label" for="selectmultiple">Select Multiple</label>
          <div class="col-md-6">
            <select id="selectmultiple" name="selectmultiple" class="form-group input-md" multiple="multiple">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
            </select>
          </div>
        </div>
      </td>
</tr>
</table>
   <!-- Text input-->
   

 
   <!-- Button -->
<div class="form-group">
   <div class="col-md-6">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>

  </fieldset>
  </form>
  