<form>
  <div class="col-md-4 divborder">
  <div class="form-group row ">
    <label for="IDno" class="col-4 col-form-label">ID No.</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-address-card"></i>
        </div> 
        <input id="IDno" name="IDno" type="text" class="form-group input-md">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="lname" class="col-4 col-form-label">Last Name</label> 
    <div class="col-8">
      <input id="lname" name="lname" type="text" class="form-group input-md">
    </div>
  </div>
  <div class="form-group row">
    <label for="fname" class="col-4 col-form-label">First Name</label> 
    <div class="col-8">
      <input id="fname" name="fname" type="text" class="form-group input-md">
    </div>
  </div>
  <div class="form-group row">
    <label for="departmentname" class="col-4 col-form-label">Department</label> 
    <div class="col-8">
      <input id="departmentname" name="departmentname" type="text" class="form-group input-md">
    </div>
  </div>
  <div class="form-group row">
    <label for="positiontitle" class="col-4 col-form-label">Position</label> 
    <div class="col-8">
      <input id="positiontitle" name="positiontitle" type="text" class="form-group input-md">
    </div>
  </div>
  <div class="form-group row">
    <label for="datehired" class="col-4 col-form-label">Date Hired</label> 
    <div class="col-8">
      <input id="datehired" name="datehired" type="text" class="form-group input-md">
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</div>
</form>